#DJANGO
DJANGO_SETTINGS_MODULE=config.settings
DEBUG=off
ALLOWED_HOSTS=*,
CSRF_TRUSTED_ORIGINS="https://127.0.0.1:8000,https://0.0.0.0:8000"
TIMEZONE=UTC
SECRET_KEY="django-insecure-^hx4vco_&p3urjr5p9y1evw7^p%caba0+3p64q=a$!2l&=z=oz"

