version: '3.9'

services:
  backend_main:
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: build-${ENV}
    restart: unless-stopped
    container_name: ${APP_NAME}_backend_${ENV}
    hostname: ${APP_NAME}_backend_${ENV}
    volumes:
      - .:/app
    ports:
      - "${PORT}:${PORT}"
    command: python manage.py runserver 0.0.0.0:${PORT}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://localhost:${PORT}/health || exit 1
      interval: 10s
      retries: 8
      start_period: 5s
      timeout: 5s

  postgres:
    image: postgres:14-alpine
    restart: unless-stopped
    container_name: ${APP_NAME}_postgres_${ENV}
    hostname: ${APP_NAME}_postgres_${ENV}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_EXPOSE_PORT}:${POSTGRES_PORT}"
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 3s
      retries: 10
      start_period: 5s
      timeout: 3s
  pgadmin:
    profiles: [ 'pgadmin' ]
    image: dpage/pgadmin4
    container_name: ${APP_NAME}_pgadmin_${ENV}
    ports:
      - "${PGADMIN_EXPOSE_PORT}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    depends_on:
      - postgres
    restart: unless-stopped
    volumes:
      - ./.pgadmin:/var/lib/pgadmin

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    container_name: ${APP_NAME}_redis_${ENV}
    hostname: ${APP_NAME}_redis_${ENV}
    volumes:
      - ./redis_data:/bitnami/redis/data
    environment:
      - ALLOW_EMPTY_PASSWORD=no
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DISABLE_COMMANDS=${REDIS_DISABLE_COMMANDS}
      - REDIS_PORT=${REDIS_PORT}
    ports:
      - "${REDIS_EXPOSE_PORT}:${REDIS_PORT}"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 3s
      retries: 10
      start_period: 5s
      timeout: 3s
